@import "../../shared/styles/theme_variables";

// We don't use Native or Emulated View encapsulation so we
// localize the css by component id
#logging {
  
  #log-statistics {
    padding: 10px;
  }
  
  // UI statisics display badges
  .ui-stats-display {
    margin: 10px 0px;
    padding: 0px 20px;
    border-right: 2px solid #cbcbcb;
    
    &:last-child {
      border: none;
    }
    
    p {
      margin: 3px;
      
      span {
        padding-right: 4px;
        color: #cbcbcb;
      }
      
      &.title {
        font-size: 0.85em;
        font-weight: bold;
      }
      
      &.stats {
        font-weight: bold;
        font-size: 2em;
        color: #3b9bc4;
      }
      
      &.warn {
        color: $brand-warning;
      } 
      
      &.error {
        color: $brand-error;
      }  
    }
  }
  
  // Fold/unfold the DataTable custom log filter input textfields
  .log_custom_filter_fold .ui-column-filter {
    transition: all ease-in 0.5s;
    height: 0;
    padding: 0;
    border: none;
  }

  .log_custom_filter_unfold .ui-column-filter {
    transition: all ease-in 0.5s;
    height: 35px;
  }

  .ui-datatable {
    
    tbody {
      max-height: 500px;
    }
    
    th.log-level,
    td.log-level {
      max-width: 150px;
    }
    
    span.log-level-label {
      padding: 3px 5px;
      color: #fff;
      border-radius: 3px;
    }
  
    span.log-level-label.debug {
      background-color: $brand-debug;
    }
  
    span.log-level-label.info {
      background-color: $brand-info;
    }
  
    span.log-level-label.warn {
      background-color: $brand-warning;
    }
  
    span.log-level-label.error {
      background-color: $brand-error;
    }
  
    span.log-level-label.critical {
      background-color: $brand-critical;
    }
  }
}