
[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

crossbar = {git = "https://github.com/Zefiros-Software/crossbar.git", ref = "da6c3d220ba6d8b3fc8c1b9ec00eda48b3a8d57b"}
mdstudio = {path = "mdstudio/", editable = true}
lie-auth = {path = "core/auth/", editable = true}
lie-cache = {path = "core/cache/", editable = true}
lie-db = {path = "core/db/", editable = true}
lie-schema = {path = "core/schema/", editable = true}
lie-logger = {path = "core/logger/", editable = true}
twisted = "*"
cryptography = "*"

[dev-packages]

bandit = "*"
future = "*"
sphinx = "*"
sphinx-rtd-theme = ">=0.1.9"
sphinx-autobuild = ">=0.6.0"
coverage = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
"pepper8" = "*"
"autopep8" = "*"
mock = "*"
mongomock = {git = "https://github.com/Zefiros-Software/mongomock.git"}
faker = "*"
pyfakefs = "*"
"unittest2" = "*"