<!-- Modal login dialog -->
<p-dialog visible="true" showEffect="fade" appendTo="body"
  [modal]="true" [draggable]="false" [closable]="false" [closeOnEscape]="false" [responsive]="true">
  
  <header>
    <p class="icon fa fa-connectdevelop">
    <h2>LIE Studio</h2>
    <p>{{statusmessage}}</p>
  </header>
  
  <div class="instructions">
    <ul>
      <li>Sign-in: enter username and password</li>
      <li>Sign-up: enter email and username</li>
      <li>Forgot password: enter email</li>
    </ul>
  </div>
  
  <div class="input-form-group">    
    <div id="auth-email" class="input-group">
      <span class="fa fa-envelope-o {{email_is_valid}}"></span>
      <input type="text" [(ngModel)]="email" (ngModelChange)="validateInput($event)" placeholder="your email"
      (keyup.enter)="onSubmitRetrieve()">
    </div>
    
    <div id="auth-username" class="input-group">
      <span class="fa fa-user"></span>
      <input type="text" [(ngModel)]="username" (ngModelChange)="validateInput($event)" placeholder="your username">
    </div>
  
    <div id="auth-password" class="input-group">
      <span class="fa fa-lock"></span>
      <input type="password" [(ngModel)]="password" (ngModelChange)="validateInput($event)" placeholder="your password"
      (keyup.enter)="onSubmitSignin()">
    </div>
    
    <div id="remember-login" class="flex-container-rows">
      <p-inputSwitch [(ngModel)]="remember_login" class="flex-item"></p-inputSwitch>
      <p class="flex-item inline">Remember login</p>
    </div>
    
  </div>
  
  <div id="auth-buttons" class="flex-container-rows halign-spacebetween">
    <button type="button" pButton id="auth-signin" class="flex-item" icon="fa-unlock" (click)="onSubmitSignin()"
     [disabled]="signin_inactive" title="Sign In to your account"></button>
    <button type="button" pButton id="auth-signup" class="flex-item" icon="fa-pencil" (click)="onSubmitSignup()"
     [disabled]="signup_inactive" title="Sign Up for an account"></button>
    <button type="button" pButton id="auth-forgot" class="flex-item" icon="fa-question" (click)="onSubmitRetrieve()"
     [disabled]="retrieve_inactive" title="Forgot your password"></button>
  </div>
   
  <footer>
    <small>By signing up, you agree to our <a href="/terms" target="_new">terms of service</a> and 
        <a href="/privacy" target="_new">privacy policy</a>
    </small>
    <div id="wamp-connection-bar" class="ui-progress-bar">
      <span [class.animate]="wampactive" style="width: 100%"></span>
    </div>
  </footer>
       
</p-dialog>