@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);

:host(.LoginComponent.ng-enter) {
  transition: all ease-in 0.5s;
  opacity: 0;
}

:host(.LoginComponent.ng-enter-active) {
  opacity: 1;
}

.ui-dialog-mask {
  background-color: #22313E;
  transition:0.5s linear all;
}

.ui-dialog {
  
  .ui-progress-bar {
    position: absolute;
    z-index: 1010;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #EA5323;
  }
  
  .ui-dialog-titlebar {
    display: none;
  }
  
  .ui-dialog-content {
    padding: 0;
  }
  
  header, footer {
    width: 100%;
    text-align: center;
    background-color: #eaeaea;
    padding: 10px 30px;
    color: #666;
  }  
  
  footer {
    padding: 10px 30px 15px 30px;
  }
  
  header {
    
    h2 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 2em;
      margin: 0;
      letter-spacing: 2px;
    }

    p {
      font-size: 0.9em;
      margin: 0;
    }
    
    p.icon {
      font-size: 2.2em;
      padding: 8px;
      color: #EA5323;
    }

    &.error p {
      color: #A94442;
    }
  }
}

.status-message {
  padding: 0px 30px;
  text-align: center;
}

.instructions {
  padding: 10px 30px 0px 30px;
  
  ul {
    padding-left: 15px;
  }
  
  li {
    color: #666;
    margin: 3px;
    font-size: 0.8em;
  }
}

.input-form-group {
  padding: 10px 30px;
  
  .ui-inputswitch-on {
    background: #EA5323 !important;
  }
  
  span.ui-inputswitch-onlabel,
  span.ui-inputswitch-offlabel {
    color: transparent;
  }
  
  .input-group {
    margin: 15px 0px;
    height: 40px;
    width: 100%;
    padding-left: 40px;
    position: relative;
    
    span, input {
      border: 1px solid #eaeaea;
      height: 100%;
    }
    
    span {
      background-color: #eaeaea;
      display: block;
      position: absolute;
      left: 0;
      text-align: center;
      padding: 10px 0;
      font-size: 1.1em;
      color: #666;
      width: 40px;
      
      &.invalid {
        background-color: #FF625E;
        color: #fff;
      }
      
      &.valid {
        background-color: #26CD42;
        color: #fff;
      }
    }
    
    input {
      padding: 0 14px;
      width: 100%;
    }
  }
}

p.inline {
  margin: 0;
  padding: 2px 5px 0px 5px;
  font-size: 0.9em;
}

#auth-buttons {
  padding: 0px 30px 10px 30px;
  
  .ui-button {
    background-color: #EA5323;
    
    &.ui-button-icon-only {
      width: 2.4em;
    }
  
    .ui-button-text {
      padding: .5em;
    }
    
    &.ui-state-hover {
      background-color: #C6451C;
    }
  }
}