[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mdstudio = {path = "../../mdstudio/", editable = true}
local = {path = "./", editable = true}
cmd2 = "*"

[dev-packages]
unittest2 =  "*"
