/**
 *  Main app CSS stylesheet in Sass .scss format
 *
 *  - Sass variables that determine the global look and feel of the app theme
 *    are gathered in the theme_variables.scss file.
 */

// Utilities
@import "mixins/hide-text";
@import "mixins/opacity";
@import "mixins/image";
@import "mixins/labels";
@import "mixins/reset-filter";
@import "mixins/resize";
@import "mixins/responsive-visibility";
@import "mixins/size";
@import "mixins/tab-focus";
@import "mixins/reset-text";
@import "mixins/text-emphasis";
@import "mixins/text-overflow";
@import "mixins/vendor-prefixes";

// Components
@import "mixins/alerts";
@import "mixins/buttons";
@import "mixins/panels";
@import "mixins/pagination";
@import "mixins/list-group";
@import "mixins/nav-divider";
@import "mixins/forms";
@import "mixins/progress-bar";
@import "mixins/table-row";

// Skins
@import "mixins/background-variant";
@import "mixins/border-radius";
@import "mixins/gradients";

// Layout
@import "mixins/clearfix";
@import "mixins/center-block";
@import "mixins/nav-vertical-align";
@import "mixins/grid-framework";
@import "mixins/grid";

// Core variables and mixins
@import "theme_variables";

// Print styles from Bootstrap
@import "theme_print"; 

// Core CSS
@import "theme_fonts";
@import "theme_layout";
@import "theme_ui_elements";


/**
 * App loader page and graphics
 */
#app-loader {
  
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  background-color: $left-nav-btn-color-backg;
  transition: all linear 600ms ;
  -webkit-transition: all linear 600ms ;
    
  h1.title {
    text-align: center;
    letter-spacing: 2px;
    font-size: 4em;
    color: #fff;
  }
  
  .spinner {
    width: 100px;
    height: 80px;
    margin: auto;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #fff;
    height: 100%;
    width: 12px;
    display: inline-block;
  
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
}

app:empty + #app-loader {
    opacity: 1;
    z-index: 100;
}