$icomoon-font-path: "fonts" !default;

$icon-glass3: "\f000";
$icon-music2: "\f001";
$icon-search2: "\f002";
$icon-envelope-o: "\f003";
$icon-heart2: "\f004";
$icon-star: "\f005";
$icon-star-o: "\f006";
$icon-user2: "\f007";
$icon-film2: "\f008";
$icon-th-large: "\f009";
$icon-th: "\f00a";
$icon-th-list: "\f00b";
$icon-check: "\f00c";
$icon-close: "\f00d";
$icon-remove: "\f00d";
$icon-times: "\f00d";
$icon-search-plus: "\f00e";
$icon-search-minus: "\f010";
$icon-power-off: "\f011";
$icon-signal: "\f012";
$icon-cog2: "\f013";
$icon-gear: "\f013";
$icon-trash-o: "\f014";
$icon-home4: "\f015";
$icon-file-o: "\f016";
$icon-clock-o: "\f017";
$icon-road2: "\f018";
$icon-download4: "\f019";
$icon-arrow-circle-o-down: "\f01a";
$icon-arrow-circle-o-up: "\f01b";
$icon-inbox: "\f01c";
$icon-play-circle-o: "\f01d";
$icon-repeat: "\f01e";
$icon-rotate-right: "\f01e";
$icon-refresh: "\f021";
$icon-list-alt: "\f022";
$icon-lock2: "\f023";
$icon-flag2: "\f024";
$icon-headphones2: "\f025";
$icon-volume-off: "\f026";
$icon-volume-down: "\f027";
$icon-volume-up: "\f028";
$icon-qrcode2: "\f029";
$icon-barcode2: "\f02a";
$icon-tag: "\f02b";
$icon-tags: "\f02c";
$icon-book2: "\f02d";
$icon-bookmark2: "\f02e";
$icon-print: "\f02f";
$icon-camera2: "\f030";
$icon-font2: "\f031";
$icon-bold2: "\f032";
$icon-italic2: "\f033";
$icon-text-height2: "\f034";
$icon-text-width2: "\f035";
$icon-align-left: "\f036";
$icon-align-center: "\f037";
$icon-align-right: "\f038";
$icon-align-justify: "\f039";
$icon-list3: "\f03a";
$icon-dedent: "\f03b";
$icon-outdent: "\f03b";
$icon-indent: "\f03c";
$icon-video-camera2: "\f03d";
$icon-image2: "\f03e";
$icon-photo: "\f03e";
$icon-picture-o: "\f03e";
$icon-pencil3: "\f040";
$icon-map-marker: "\f041";
$icon-adjust: "\f042";
$icon-tint: "\f043";
$icon-edit: "\f044";
$icon-pencil-square-o: "\f044";
$icon-share-square-o: "\f045";
$icon-check-square-o: "\f046";
$icon-arrows: "\f047";
$icon-step-backward: "\f048";
$icon-fast-backward: "\f049";
$icon-backward3: "\f04a";
$icon-play4: "\f04b";
$icon-pause3: "\f04c";
$icon-stop3: "\f04d";
$icon-forward4: "\f04e";
$icon-fast-forward: "\f050";
$icon-step-forward: "\f051";
$icon-eject2: "\f052";
$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";
$icon-plus-circle: "\f055";
$icon-minus-circle: "\f056";
$icon-times-circle: "\f057";
$icon-check-circle: "\f058";
$icon-question-circle: "\f059";
$icon-info-circle: "\f05a";
$icon-crosshairs: "\f05b";
$icon-times-circle-o: "\f05c";
$icon-check-circle-o: "\f05d";
$icon-ban: "\f05e";
$icon-arrow-left3: "\f060";
$icon-arrow-right3: "\f061";
$icon-arrow-up3: "\f062";
$icon-arrow-down3: "\f063";
$icon-mail-forward: "\f064";
$icon-share3: "\f064";
$icon-expand: "\f065";
$icon-compress: "\f066";
$icon-plus2: "\f067";
$icon-minus2: "\f068";
$icon-asterisk: "\f069";
$icon-exclamation-circle: "\f06a";
$icon-gift2: "\f06b";
$icon-leaf2: "\f06c";
$icon-fire2: "\f06d";
$icon-eye2: "\f06e";
$icon-eye-slash: "\f070";
$icon-exclamation-triangle: "\f071";
$icon-warning2: "\f071";
$icon-plane: "\f072";
$icon-calendar2: "\f073";
$icon-random: "\f074";
$icon-comment: "\f075";
$icon-magnet2: "\f076";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";
$icon-retweet: "\f079";
$icon-shopping-cart: "\f07a";
$icon-folder2: "\f07b";
$icon-folder-open2: "\f07c";
$icon-arrows-v: "\f07d";
$icon-arrows-h: "\f07e";
$icon-bar-chart: "\f080";
$icon-bar-chart-o: "\f080";
$icon-twitter-square: "\f081";
$icon-facebook-square: "\f082";
$icon-camera-retro: "\f083";
$icon-key3: "\f084";
$icon-cogs2: "\f085";
$icon-gears: "\f085";
$icon-comments: "\f086";
$icon-thumbs-o-up: "\f087";
$icon-thumbs-o-down: "\f088";
$icon-star-half2: "\f089";
$icon-heart-o: "\f08a";
$icon-sign-out: "\f08b";
$icon-linkedin-square: "\f08c";
$icon-thumb-tack: "\f08d";
$icon-external-link: "\f08e";
$icon-sign-in: "\f090";
$icon-trophy2: "\f091";
$icon-github-square: "\f092";
$icon-upload4: "\f093";
$icon-lemon-o: "\f094";
$icon-phone2: "\f095";
$icon-square-o: "\f096";
$icon-bookmark-o: "\f097";
$icon-phone-square: "\f098";
$icon-twitter2: "\f099";
$icon-facebook3: "\f09a";
$icon-facebook-f: "\f09a";
$icon-github2: "\f09b";
$icon-unlock: "\f09c";
$icon-credit-card2: "\f09d";
$icon-feed2: "\f09e";
$icon-rss3: "\f09e";
$icon-hdd-o: "\f0a0";
$icon-bullhorn2: "\f0a1";
$icon-bell-o: "\f0a2";
$icon-certificate: "\f0a3";
$icon-hand-o-right: "\f0a4";
$icon-hand-o-left: "\f0a5";
$icon-hand-o-up: "\f0a6";
$icon-hand-o-down: "\f0a7";
$icon-arrow-circle-left: "\f0a8";
$icon-arrow-circle-right: "\f0a9";
$icon-arrow-circle-up: "\f0aa";
$icon-arrow-circle-down: "\f0ab";
$icon-globe: "\f0ac";
$icon-wrench2: "\f0ad";
$icon-tasks: "\f0ae";
$icon-filter2: "\f0b0";
$icon-briefcase2: "\f0b1";
$icon-arrows-alt: "\f0b2";
$icon-group: "\f0c0";
$icon-users2: "\f0c0";
$icon-chain: "\f0c1";
$icon-link2: "\f0c1";
$icon-cloud2: "\f0c2";
$icon-flask: "\f0c3";
$icon-cut: "\f0c4";
$icon-scissors2: "\f0c4";
$icon-copy2: "\f0c5";
$icon-files-o: "\f0c5";
$icon-paperclip: "\f0c6";
$icon-floppy-o: "\f0c7";
$icon-save: "\f0c7";
$icon-square: "\f0c8";
$icon-bars: "\f0c9";
$icon-navicon: "\f0c9";
$icon-reorder: "\f0c9";
$icon-list-ul: "\f0ca";
$icon-list-ol: "\f0cb";
$icon-strikethrough2: "\f0cc";
$icon-underline2: "\f0cd";
$icon-table3: "\f0ce";
$icon-magic: "\f0d0";
$icon-truck2: "\f0d1";
$icon-pinterest3: "\f0d2";
$icon-pinterest-square: "\f0d3";
$icon-google-plus-square: "\f0d4";
$icon-google-plus4: "\f0d5";
$icon-money: "\f0d6";
$icon-caret-down: "\f0d7";
$icon-caret-up: "\f0d8";
$icon-caret-left: "\f0d9";
$icon-caret-right: "\f0da";
$icon-columns: "\f0db";
$icon-sort: "\f0dc";
$icon-unsorted: "\f0dc";
$icon-sort-desc: "\f0dd";
$icon-sort-down: "\f0dd";
$icon-sort-asc: "\f0de";
$icon-sort-up: "\f0de";
$icon-envelope: "\f0e0";
$icon-linkedin3: "\f0e1";
$icon-rotate-left: "\f0e2";
$icon-undo3: "\f0e2";
$icon-gavel: "\f0e3";
$icon-legal: "\f0e3";
$icon-dashboard: "\f0e4";
$icon-tachometer: "\f0e4";
$icon-comment-o: "\f0e5";
$icon-comments-o: "\f0e6";
$icon-bolt: "\f0e7";
$icon-flash: "\f0e7";
$icon-sitemap: "\f0e8";
$icon-umbrella: "\f0e9";
$icon-clipboard2: "\f0ea";
$icon-paste2: "\f0ea";
$icon-lightbulb-o: "\f0eb";
$icon-exchange: "\f0ec";
$icon-cloud-download2: "\f0ed";
$icon-cloud-upload2: "\f0ee";
$icon-user-md: "\f0f0";
$icon-stethoscope: "\f0f1";
$icon-suitcase: "\f0f2";
$icon-bell2: "\f0f3";
$icon-coffee: "\f0f4";
$icon-cutlery: "\f0f5";
$icon-file-text-o: "\f0f6";
$icon-building-o: "\f0f7";
$icon-hospital-o: "\f0f8";
$icon-ambulance: "\f0f9";
$icon-medkit: "\f0fa";
$icon-fighter-jet: "\f0fb";
$icon-beer: "\f0fc";
$icon-h-square: "\f0fd";
$icon-plus-square: "\f0fe";
$icon-angle-double-left: "\f100";
$icon-angle-double-right: "\f101";
$icon-angle-double-up: "\f102";
$icon-angle-double-down: "\f103";
$icon-angle-left: "\f104";
$icon-angle-right: "\f105";
$icon-angle-up: "\f106";
$icon-angle-down: "\f107";
$icon-desktop: "\f108";
$icon-laptop2: "\f109";
$icon-tablet2: "\f10a";
$icon-mobile3: "\f10b";
$icon-mobile-phone: "\f10b";
$icon-circle-o: "\f10c";
$icon-quote-left: "\f10d";
$icon-quote-right: "\f10e";
$icon-spinner12: "\f110";
$icon-circle: "\f111";
$icon-mail-reply: "\f112";
$icon-reply2: "\f112";
$icon-github-alt: "\f113";
$icon-folder-o: "\f114";
$icon-folder-open-o: "\f115";
$icon-smile-o: "\f118";
$icon-frown-o: "\f119";
$icon-meh-o: "\f11a";
$icon-gamepad: "\f11b";
$icon-keyboard-o: "\f11c";
$icon-flag-o: "\f11d";
$icon-flag-checkered: "\f11e";
$icon-terminal2: "\f120";
$icon-code: "\f121";
$icon-mail-reply-all: "\f122";
$icon-reply-all: "\f122";
$icon-star-half-empty: "\f123";
$icon-star-half-full: "\f123";
$icon-star-half-o: "\f123";
$icon-location-arrow: "\f124";
$icon-crop2: "\f125";
$icon-code-fork: "\f126";
$icon-chain-broken: "\f127";
$icon-unlink: "\f127";
$icon-question2: "\f128";
$icon-info2: "\f129";
$icon-exclamation: "\f12a";
$icon-superscript3: "\f12b";
$icon-subscript3: "\f12c";
$icon-eraser: "\f12d";
$icon-puzzle-piece: "\f12e";
$icon-microphone: "\f130";
$icon-microphone-slash: "\f131";
$icon-shield2: "\f132";
$icon-calendar-o: "\f133";
$icon-fire-extinguisher: "\f134";
$icon-rocket2: "\f135";
$icon-maxcdn: "\f136";
$icon-chevron-circle-left: "\f137";
$icon-chevron-circle-right: "\f138";
$icon-chevron-circle-up: "\f139";
$icon-chevron-circle-down: "\f13a";
$icon-html5: "\f13b";
$icon-css32: "\f13c";
$icon-anchor: "\f13d";
$icon-unlock-alt: "\f13e";
$icon-bullseye: "\f140";
$icon-ellipsis-h: "\f141";
$icon-ellipsis-v: "\f142";
$icon-rss-square: "\f143";
$icon-play-circle: "\f144";
$icon-ticket2: "\f145";
$icon-minus-square: "\f146";
$icon-minus-square-o: "\f147";
$icon-level-up: "\f148";
$icon-level-down: "\f149";
$icon-check-square: "\f14a";
$icon-pencil-square: "\f14b";
$icon-external-link-square: "\f14c";
$icon-share-square: "\f14d";
$icon-compass3: "\f14e";
$icon-caret-square-o-down: "\f150";
$icon-toggle-down: "\f150";
$icon-caret-square-o-up: "\f151";
$icon-toggle-up: "\f151";
$icon-caret-square-o-right: "\f152";
$icon-toggle-right: "\f152";
$icon-eur: "\f153";
$icon-euro: "\f153";
$icon-gbp: "\f154";
$icon-dollar: "\f155";
$icon-usd: "\f155";
$icon-inr: "\f156";
$icon-rupee: "\f156";
$icon-cny: "\f157";
$icon-jpy: "\f157";
$icon-rmb: "\f157";
$icon-yen: "\f157";
$icon-rouble: "\f158";
$icon-rub: "\f158";
$icon-ruble: "\f158";
$icon-krw: "\f159";
$icon-won: "\f159";
$icon-bitcoin: "\f15a";
$icon-btc: "\f15a";
$icon-file: "\f15b";
$icon-file-text3: "\f15c";
$icon-sort-alpha-asc2: "\f15d";
$icon-sort-alpha-desc2: "\f15e";
$icon-sort-amount-asc2: "\f160";
$icon-sort-amount-desc2: "\f161";
$icon-sort-numeric-asc2: "\f162";
$icon-sort-numeric-desc: "\f163";
$icon-thumbs-up: "\f164";
$icon-thumbs-down: "\f165";
$icon-youtube-square: "\f166";
$icon-youtube3: "\f167";
$icon-xing3: "\f168";
$icon-xing-square: "\f169";
$icon-youtube-play: "\f16a";
$icon-dropbox2: "\f16b";
$icon-stack-overflow: "\f16c";
$icon-instagram2: "\f16d";
$icon-flickr5: "\f16e";
$icon-adn: "\f170";
$icon-bitbucket: "\f171";
$icon-bitbucket-square: "\f172";
$icon-tumblr3: "\f173";
$icon-tumblr-square: "\f174";
$icon-long-arrow-down: "\f175";
$icon-long-arrow-up: "\f176";
$icon-long-arrow-left: "\f177";
$icon-long-arrow-right: "\f178";
$icon-apple: "\f179";
$icon-windows2: "\f17a";
$icon-android2: "\f17b";
$icon-linux: "\f17c";
$icon-dribbble2: "\f17d";
$icon-skype2: "\f17e";
$icon-foursquare2: "\f180";
$icon-trello2: "\f181";
$icon-female: "\f182";
$icon-male: "\f183";
$icon-gittip: "\f184";
$icon-gratipay: "\f184";
$icon-sun-o: "\f185";
$icon-moon-o: "\f186";
$icon-archive: "\f187";
$icon-bug2: "\f188";
$icon-vk2: "\f189";
$icon-weibo: "\f18a";
$icon-renren2: "\f18b";
$icon-pagelines: "\f18c";
$icon-stack-exchange: "\f18d";
$icon-arrow-circle-o-right: "\f18e";
$icon-arrow-circle-o-left: "\f190";
$icon-caret-square-o-left: "\f191";
$icon-toggle-left: "\f191";
$icon-dot-circle-o: "\f192";
$icon-wheelchair: "\f193";
$icon-vimeo-square: "\f194";
$icon-try: "\f195";
$icon-turkish-lira: "\f195";
$icon-plus-square-o: "\f196";
$icon-space-shuttle: "\f197";
$icon-slack: "\f198";
$icon-envelope-square: "\f199";
$icon-wordpress2: "\f19a";
$icon-openid: "\f19b";
$icon-bank: "\f19c";
$icon-institution: "\f19c";
$icon-university: "\f19c";
$icon-graduation-cap: "\f19d";
$icon-mortar-board: "\f19d";
$icon-yahoo3: "\f19e";
$icon-google4: "\f1a0";
$icon-reddit2: "\f1a1";
$icon-reddit-square: "\f1a2";
$icon-stumbleupon-circle: "\f1a3";
$icon-stumbleupon3: "\f1a4";
$icon-delicious2: "\f1a5";
$icon-digg: "\f1a6";
$icon-pied-piper: "\f1a7";
$icon-pied-piper-alt: "\f1a8";
$icon-drupal: "\f1a9";
$icon-joomla2: "\f1aa";
$icon-language: "\f1ab";
$icon-fax: "\f1ac";
$icon-building: "\f1ad";
$icon-child: "\f1ae";
$icon-paw: "\f1b0";
$icon-spoon: "\f1b1";
$icon-cube: "\f1b2";
$icon-cubes: "\f1b3";
$icon-behance3: "\f1b4";
$icon-behance-square: "\f1b5";
$icon-steam3: "\f1b6";
$icon-steam-square: "\f1b7";
$icon-recycle: "\f1b8";
$icon-automobile: "\f1b9";
$icon-car: "\f1b9";
$icon-cab: "\f1ba";
$icon-taxi: "\f1ba";
$icon-tree2: "\f1bb";
$icon-spotify2: "\f1bc";
$icon-deviantart2: "\f1bd";
$icon-soundcloud3: "\f1be";
$icon-database2: "\f1c0";
$icon-file-pdf-o: "\f1c1";
$icon-file-word-o: "\f1c2";
$icon-file-excel-o: "\f1c3";
$icon-file-powerpoint-o: "\f1c4";
$icon-file-image-o: "\f1c5";
$icon-file-photo-o: "\f1c5";
$icon-file-picture-o: "\f1c5";
$icon-file-archive-o: "\f1c6";
$icon-file-zip-o: "\f1c6";
$icon-file-audio-o: "\f1c7";
$icon-file-sound-o: "\f1c7";
$icon-file-movie-o: "\f1c8";
$icon-file-video-o: "\f1c8";
$icon-file-code-o: "\f1c9";
$icon-vine2: "\f1ca";
$icon-codepen2: "\f1cb";
$icon-jsfiddle: "\f1cc";
$icon-life-bouy: "\f1cd";
$icon-life-buoy: "\f1cd";
$icon-life-ring: "\f1cd";
$icon-life-saver: "\f1cd";
$icon-support: "\f1cd";
$icon-circle-o-notch: "\f1ce";
$icon-ra: "\f1d0";
$icon-rebel: "\f1d0";
$icon-empire: "\f1d1";
$icon-ge: "\f1d1";
$icon-git-square: "\f1d2";
$icon-git2: "\f1d3";
$icon-hacker-news: "\f1d4";
$icon-y-combinator-square: "\f1d4";
$icon-yc-square: "\f1d4";
$icon-tencent-weibo: "\f1d5";
$icon-qq: "\f1d6";
$icon-wechat: "\f1d7";
$icon-weixin: "\f1d7";
$icon-paper-plane: "\f1d8";
$icon-send: "\f1d8";
$icon-paper-plane-o: "\f1d9";
$icon-send-o: "\f1d9";
$icon-history2: "\f1da";
$icon-circle-thin: "\f1db";
$icon-header: "\f1dc";
$icon-paragraph: "\f1dd";
$icon-sliders: "\f1de";
$icon-share-alt: "\f1e0";
$icon-share-alt-square: "\f1e1";
$icon-bomb: "\f1e2";
$icon-futbol-o: "\f1e3";
$icon-soccer-ball-o: "\f1e3";
$icon-tty: "\f1e4";
$icon-binoculars2: "\f1e5";
$icon-plug: "\f1e6";
$icon-slideshare: "\f1e7";
$icon-twitch2: "\f1e8";
$icon-yelp2: "\f1e9";
$icon-newspaper-o: "\f1ea";
$icon-wifi: "\f1eb";
$icon-calculator2: "\f1ec";
$icon-paypal2: "\f1ed";
$icon-google-wallet: "\f1ee";
$icon-cc-visa: "\f1f0";
$icon-cc-mastercard: "\f1f1";
$icon-cc-discover: "\f1f2";
$icon-cc-amex: "\f1f3";
$icon-cc-paypal: "\f1f4";
$icon-cc-stripe: "\f1f5";
$icon-bell-slash: "\f1f6";
$icon-bell-slash-o: "\f1f7";
$icon-trash: "\f1f8";
$icon-copyright: "\f1f9";
$icon-at: "\f1fa";
$icon-eyedropper2: "\f1fb";
$icon-paint-brush: "\f1fc";
$icon-birthday-cake: "\f1fd";
$icon-area-chart: "\f1fe";
$icon-pie-chart2: "\f200";
$icon-line-chart: "\f201";
$icon-lastfm3: "\f202";
$icon-lastfm-square: "\f203";
$icon-toggle-off: "\f204";
$icon-toggle-on: "\f205";
$icon-bicycle: "\f206";
$icon-bus: "\f207";
$icon-ioxhost: "\f208";
$icon-angellist: "\f209";
$icon-cc: "\f20a";
$icon-ils: "\f20b";
$icon-shekel: "\f20b";
$icon-sheqel: "\f20b";
$icon-meanpath: "\f20c";
$icon-buysellads: "\f20d";
$icon-connectdevelop: "\f20e";
$icon-dashcube: "\f210";
$icon-forumbee: "\f211";
$icon-leanpub: "\f212";
$icon-sellsy: "\f213";
$icon-shirtsinbulk: "\f214";
$icon-simplybuilt: "\f215";
$icon-skyatlas: "\f216";
$icon-cart-plus: "\f217";
$icon-cart-arrow-down: "\f218";
$icon-diamond: "\f219";
$icon-ship: "\f21a";
$icon-user-secret: "\f21b";
$icon-motorcycle: "\f21c";
$icon-street-view: "\f21d";
$icon-heartbeat: "\f21e";
$icon-venus: "\f221";
$icon-mars: "\f222";
$icon-mercury: "\f223";
$icon-intersex: "\f224";
$icon-transgender: "\f224";
$icon-transgender-alt: "\f225";
$icon-venus-double: "\f226";
$icon-mars-double: "\f227";
$icon-venus-mars: "\f228";
$icon-mars-stroke: "\f229";
$icon-mars-stroke-v: "\f22a";
$icon-mars-stroke-h: "\f22b";
$icon-neuter: "\f22c";
$icon-genderless: "\f22d";
$icon-facebook-official: "\f230";
$icon-pinterest-p: "\f231";
$icon-whatsapp2: "\f232";
$icon-server: "\f233";
$icon-user-plus2: "\f234";
$icon-user-times: "\f235";
$icon-bed: "\f236";
$icon-hotel: "\f236";
$icon-viacoin: "\f237";
$icon-train: "\f238";
$icon-subway: "\f239";
$icon-medium: "\f23a";
$icon-y-combinator: "\f23b";
$icon-yc: "\f23b";
$icon-optin-monster: "\f23c";
$icon-opencart: "\f23d";
$icon-expeditedssl: "\f23e";
$icon-battery-4: "\f240";
$icon-battery-full: "\f240";
$icon-battery-3: "\f241";
$icon-battery-three-quarters: "\f241";
$icon-battery-2: "\f242";
$icon-battery-half: "\f242";
$icon-battery-1: "\f243";
$icon-battery-quarter: "\f243";
$icon-battery-0: "\f244";
$icon-battery-empty: "\f244";
$icon-mouse-pointer: "\f245";
$icon-i-cursor: "\f246";
$icon-object-group: "\f247";
$icon-object-ungroup: "\f248";
$icon-sticky-note: "\f249";
$icon-sticky-note-o: "\f24a";
$icon-cc-jcb: "\f24b";
$icon-cc-diners-club: "\f24c";
$icon-clone: "\f24d";
$icon-balance-scale: "\f24e";
$icon-hourglass-o: "\f250";
$icon-hourglass-1: "\f251";
$icon-hourglass-start: "\f251";
$icon-hourglass-2: "\f252";
$icon-hourglass-half: "\f252";
$icon-hourglass-3: "\f253";
$icon-hourglass-end: "\f253";
$icon-hourglass: "\f254";
$icon-hand-grab-o: "\f255";
$icon-hand-rock-o: "\f255";
$icon-hand-paper-o: "\f256";
$icon-hand-stop-o: "\f256";
$icon-hand-scissors-o: "\f257";
$icon-hand-lizard-o: "\f258";
$icon-hand-spock-o: "\f259";
$icon-hand-pointer-o: "\f25a";
$icon-hand-peace-o: "\f25b";
$icon-trademark: "\f25c";
$icon-registered: "\f25d";
$icon-creative-commons: "\f25e";
$icon-gg: "\f260";
$icon-gg-circle: "\f261";
$icon-tripadvisor: "\f262";
$icon-odnoklassniki: "\f263";
$icon-odnoklassniki-square: "\f264";
$icon-get-pocket: "\f265";
$icon-wikipedia-w: "\f266";
$icon-safari2: "\f267";
$icon-chrome2: "\f268";
$icon-firefox2: "\f269";
$icon-opera2: "\f26a";
$icon-internet-explorer: "\f26b";
$icon-television: "\f26c";
$icon-tv2: "\f26c";
$icon-contao: "\f26d";
$icon-500px2: "\f26e";
$icon-amazon2: "\f270";
$icon-calendar-plus-o: "\f271";
$icon-calendar-minus-o: "\f272";
$icon-calendar-times-o: "\f273";
$icon-calendar-check-o: "\f274";
$icon-industry: "\f275";
$icon-map-pin: "\f276";
$icon-map-signs: "\f277";
$icon-map-o: "\f278";
$icon-map3: "\f279";
$icon-commenting: "\f27a";
$icon-commenting-o: "\f27b";
$icon-houzz: "\f27c";
$icon-vimeo3: "\f27d";
$icon-black-tie: "\f27e";
$icon-fonticons: "\f280";
$icon-reddit-alien: "\f281";
$icon-edge2: "\f282";
$icon-credit-card-alt: "\f283";
$icon-codiepie: "\f284";
$icon-modx: "\f285";
$icon-fort-awesome: "\f286";
$icon-usb: "\f287";
$icon-product-hunt: "\f288";
$icon-mixcloud: "\f289";
$icon-scribd: "\f28a";
$icon-pause-circle: "\f28b";
$icon-pause-circle-o: "\f28c";
$icon-stop-circle: "\f28d";
$icon-stop-circle-o: "\f28e";
$icon-shopping-bag: "\f290";
$icon-shopping-basket: "\f291";
$icon-hashtag: "\f292";
$icon-bluetooth: "\f293";
$icon-bluetooth-b: "\f294";
$icon-percent: "\f295";
$icon-home: "\e900";
$icon-home2: "\e901";
$icon-home3: "\e902";
$icon-office: "\e903";
$icon-newspaper: "\e904";
$icon-pencil: "\e905";
$icon-pencil2: "\e906";
$icon-quill: "\e907";
$icon-pen: "\e908";
$icon-blog: "\e909";
$icon-eyedropper: "\e90a";
$icon-droplet: "\e90b";
$icon-paint-format: "\e90c";
$icon-image: "\e90d";
$icon-images: "\e90e";
$icon-camera: "\e90f";
$icon-headphones: "\e910";
$icon-music: "\e911";
$icon-play: "\e912";
$icon-film: "\e913";
$icon-video-camera: "\e914";
$icon-dice: "\e915";
$icon-pacman: "\e916";
$icon-spades: "\e917";
$icon-clubs: "\e918";
$icon-diamonds: "\e919";
$icon-bullhorn: "\e91a";
$icon-connection: "\e91b";
$icon-podcast: "\e91c";
$icon-feed: "\e91d";
$icon-mic: "\e91e";
$icon-book: "\e91f";
$icon-books: "\e920";
$icon-library: "\e921";
$icon-file-text: "\e922";
$icon-profile: "\e923";
$icon-file-empty: "\e924";
$icon-files-empty: "\e925";
$icon-file-text2: "\e926";
$icon-file-picture: "\e927";
$icon-file-music: "\e928";
$icon-file-play: "\e929";
$icon-file-video: "\e92a";
$icon-file-zip: "\e92b";
$icon-copy: "\e92c";
$icon-paste: "\e92d";
$icon-stack: "\e92e";
$icon-folder: "\e92f";
$icon-folder-open: "\e930";
$icon-folder-plus: "\e931";
$icon-folder-minus: "\e932";
$icon-folder-download: "\e933";
$icon-folder-upload: "\e934";
$icon-price-tag: "\e935";
$icon-price-tags: "\e936";
$icon-barcode: "\e937";
$icon-qrcode: "\e938";
$icon-ticket: "\e939";
$icon-cart: "\e93a";
$icon-coin-dollar: "\e93b";
$icon-coin-euro: "\e93c";
$icon-coin-pound: "\e93d";
$icon-coin-yen: "\e93e";
$icon-credit-card: "\e93f";
$icon-calculator: "\e940";
$icon-lifebuoy: "\e941";
$icon-phone: "\e942";
$icon-phone-hang-up: "\e943";
$icon-address-book: "\e944";
$icon-envelop: "\e945";
$icon-pushpin: "\e946";
$icon-location: "\e947";
$icon-location2: "\e948";
$icon-compass: "\e949";
$icon-compass2: "\e94a";
$icon-map: "\e94b";
$icon-map2: "\e94c";
$icon-history: "\e94d";
$icon-clock: "\e94e";
$icon-clock2: "\e94f";
$icon-alarm: "\e950";
$icon-bell: "\e951";
$icon-stopwatch: "\e952";
$icon-calendar: "\e953";
$icon-printer: "\e954";
$icon-keyboard: "\e955";
$icon-display: "\e956";
$icon-laptop: "\e957";
$icon-mobile: "\e958";
$icon-mobile2: "\e959";
$icon-tablet: "\e95a";
$icon-tv: "\e95b";
$icon-drawer: "\e95c";
$icon-drawer2: "\e95d";
$icon-box-add: "\e95e";
$icon-box-remove: "\e95f";
$icon-download: "\e960";
$icon-upload: "\e961";
$icon-floppy-disk: "\e962";
$icon-drive: "\e963";
$icon-database: "\e964";
$icon-undo: "\e965";
$icon-redo: "\e966";
$icon-undo2: "\e967";
$icon-redo2: "\e968";
$icon-forward: "\e969";
$icon-reply: "\e96a";
$icon-bubble: "\e96b";
$icon-bubbles: "\e96c";
$icon-bubbles2: "\e96d";
$icon-bubble2: "\e96e";
$icon-bubbles3: "\e96f";
$icon-bubbles4: "\e970";
$icon-user: "\e971";
$icon-users: "\e972";
$icon-user-plus: "\e973";
$icon-user-minus: "\e974";
$icon-user-check: "\e975";
$icon-user-tie: "\e976";
$icon-quotes-left: "\e977";
$icon-quotes-right: "\e978";
$icon-hour-glass: "\e979";
$icon-spinner: "\e97a";
$icon-spinner2: "\e97b";
$icon-spinner3: "\e97c";
$icon-spinner4: "\e97d";
$icon-spinner5: "\e97e";
$icon-spinner6: "\e97f";
$icon-spinner7: "\e980";
$icon-spinner8: "\e981";
$icon-spinner9: "\e982";
$icon-spinner10: "\e983";
$icon-spinner11: "\e984";
$icon-binoculars: "\e985";
$icon-search: "\e986";
$icon-zoom-in: "\e987";
$icon-zoom-out: "\e988";
$icon-enlarge: "\e989";
$icon-shrink: "\e98a";
$icon-enlarge2: "\e98b";
$icon-shrink2: "\e98c";
$icon-key: "\e98d";
$icon-key2: "\e98e";
$icon-lock: "\e98f";
$icon-unlocked: "\e990";
$icon-wrench: "\e991";
$icon-equalizer: "\e992";
$icon-equalizer2: "\e993";
$icon-cog: "\e994";
$icon-cogs: "\e995";
$icon-hammer: "\e996";
$icon-magic-wand: "\e997";
$icon-aid-kit: "\e998";
$icon-bug: "\e999";
$icon-pie-chart: "\e99a";
$icon-stats-dots: "\e99b";
$icon-stats-bars: "\e99c";
$icon-stats-bars2: "\e99d";
$icon-trophy: "\e99e";
$icon-gift: "\e99f";
$icon-glass: "\e9a0";
$icon-glass2: "\e9a1";
$icon-mug: "\e9a2";
$icon-spoon-knife: "\e9a3";
$icon-leaf: "\e9a4";
$icon-rocket: "\e9a5";
$icon-meter: "\e9a6";
$icon-meter2: "\e9a7";
$icon-hammer2: "\e9a8";
$icon-fire: "\e9a9";
$icon-lab: "\e9aa";
$icon-magnet: "\e9ab";
$icon-bin: "\e9ac";
$icon-bin2: "\e9ad";
$icon-briefcase: "\e9ae";
$icon-airplane: "\e9af";
$icon-truck: "\e9b0";
$icon-road: "\e9b1";
$icon-accessibility: "\e9b2";
$icon-target: "\e9b3";
$icon-shield: "\e9b4";
$icon-power: "\e9b5";
$icon-switch: "\e9b6";
$icon-power-cord: "\e9b7";
$icon-clipboard: "\e9b8";
$icon-list-numbered: "\e9b9";
$icon-list: "\e9ba";
$icon-list2: "\e9bb";
$icon-tree: "\e9bc";
$icon-menu: "\e9bd";
$icon-menu2: "\e9be";
$icon-menu3: "\e9bf";
$icon-menu4: "\e9c0";
$icon-cloud: "\e9c1";
$icon-cloud-download: "\e9c2";
$icon-cloud-upload: "\e9c3";
$icon-cloud-check: "\e9c4";
$icon-download2: "\e9c5";
$icon-upload2: "\e9c6";
$icon-download3: "\e9c7";
$icon-upload3: "\e9c8";
$icon-sphere: "\e9c9";
$icon-earth: "\e9ca";
$icon-link: "\e9cb";
$icon-flag: "\e9cc";
$icon-attachment: "\e9cd";
$icon-eye: "\e9ce";
$icon-eye-plus: "\e9cf";
$icon-eye-minus: "\e9d0";
$icon-eye-blocked: "\e9d1";
$icon-bookmark: "\e9d2";
$icon-bookmarks: "\e9d3";
$icon-sun: "\e9d4";
$icon-contrast: "\e9d5";
$icon-brightness-contrast: "\e9d6";
$icon-star-empty: "\e9d7";
$icon-star-half: "\e9d8";
$icon-star-full: "\e9d9";
$icon-heart: "\e9da";
$icon-heart-broken: "\e9db";
$icon-man: "\e9dc";
$icon-woman: "\e9dd";
$icon-man-woman: "\e9de";
$icon-happy: "\e9df";
$icon-happy2: "\e9e0";
$icon-smile: "\e9e1";
$icon-smile2: "\e9e2";
$icon-tongue: "\e9e3";
$icon-tongue2: "\e9e4";
$icon-sad: "\e9e5";
$icon-sad2: "\e9e6";
$icon-wink: "\e9e7";
$icon-wink2: "\e9e8";
$icon-grin: "\e9e9";
$icon-grin2: "\e9ea";
$icon-cool: "\e9eb";
$icon-cool2: "\e9ec";
$icon-angry: "\e9ed";
$icon-angry2: "\e9ee";
$icon-evil: "\e9ef";
$icon-evil2: "\e9f0";
$icon-shocked: "\e9f1";
$icon-shocked2: "\e9f2";
$icon-baffled: "\e9f3";
$icon-baffled2: "\e9f4";
$icon-confused: "\e9f5";
$icon-confused2: "\e9f6";
$icon-neutral: "\e9f7";
$icon-neutral2: "\e9f8";
$icon-hipster: "\e9f9";
$icon-hipster2: "\e9fa";
$icon-wondering: "\e9fb";
$icon-wondering2: "\e9fc";
$icon-sleepy: "\e9fd";
$icon-sleepy2: "\e9fe";
$icon-frustrated: "\e9ff";
$icon-frustrated2: "\ea00";
$icon-crying: "\ea01";
$icon-crying2: "\ea02";
$icon-point-up: "\ea03";
$icon-point-right: "\ea04";
$icon-point-down: "\ea05";
$icon-point-left: "\ea06";
$icon-warning: "\ea07";
$icon-notification: "\ea08";
$icon-question: "\ea09";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-info: "\ea0c";
$icon-cancel-circle: "\ea0d";
$icon-blocked: "\ea0e";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-checkmark2: "\ea11";
$icon-spell-check: "\ea12";
$icon-enter: "\ea13";
$icon-exit: "\ea14";
$icon-play2: "\ea15";
$icon-pause: "\ea16";
$icon-stop: "\ea17";
$icon-previous: "\ea18";
$icon-next: "\ea19";
$icon-backward: "\ea1a";
$icon-forward2: "\ea1b";
$icon-play3: "\ea1c";
$icon-pause2: "\ea1d";
$icon-stop2: "\ea1e";
$icon-backward2: "\ea1f";
$icon-forward3: "\ea20";
$icon-first: "\ea21";
$icon-last: "\ea22";
$icon-previous2: "\ea23";
$icon-next2: "\ea24";
$icon-eject: "\ea25";
$icon-volume-high: "\ea26";
$icon-volume-medium: "\ea27";
$icon-volume-low: "\ea28";
$icon-volume-mute: "\ea29";
$icon-volume-mute2: "\ea2a";
$icon-volume-increase: "\ea2b";
$icon-volume-decrease: "\ea2c";
$icon-loop: "\ea2d";
$icon-loop2: "\ea2e";
$icon-infinite: "\ea2f";
$icon-shuffle: "\ea30";
$icon-arrow-up-left: "\ea31";
$icon-arrow-up: "\ea32";
$icon-arrow-up-right: "\ea33";
$icon-arrow-right: "\ea34";
$icon-arrow-down-right: "\ea35";
$icon-arrow-down: "\ea36";
$icon-arrow-down-left: "\ea37";
$icon-arrow-left: "\ea38";
$icon-arrow-up-left2: "\ea39";
$icon-arrow-up2: "\ea3a";
$icon-arrow-up-right2: "\ea3b";
$icon-arrow-right2: "\ea3c";
$icon-arrow-down-right2: "\ea3d";
$icon-arrow-down2: "\ea3e";
$icon-arrow-down-left2: "\ea3f";
$icon-arrow-left2: "\ea40";
$icon-circle-up: "\ea41";
$icon-circle-right: "\ea42";
$icon-circle-down: "\ea43";
$icon-circle-left: "\ea44";
$icon-tab: "\ea45";
$icon-move-up: "\ea46";
$icon-move-down: "\ea47";
$icon-sort-alpha-asc: "\ea48";
$icon-sort-alpha-desc: "\ea49";
$icon-sort-numeric-asc: "\ea4a";
$icon-sort-numberic-desc: "\ea4b";
$icon-sort-amount-asc: "\ea4c";
$icon-sort-amount-desc: "\ea4d";
$icon-command: "\ea4e";
$icon-shift: "\ea4f";
$icon-ctrl: "\ea50";
$icon-opt: "\ea51";
$icon-checkbox-checked: "\ea52";
$icon-checkbox-unchecked: "\ea53";
$icon-radio-checked: "\ea54";
$icon-radio-checked2: "\ea55";
$icon-radio-unchecked: "\ea56";
$icon-crop: "\ea57";
$icon-make-group: "\ea58";
$icon-ungroup: "\ea59";
$icon-scissors: "\ea5a";
$icon-filter: "\ea5b";
$icon-font: "\ea5c";
$icon-ligature: "\ea5d";
$icon-ligature2: "\ea5e";
$icon-text-height: "\ea5f";
$icon-text-width: "\ea60";
$icon-font-size: "\ea61";
$icon-bold: "\ea62";
$icon-underline: "\ea63";
$icon-italic: "\ea64";
$icon-strikethrough: "\ea65";
$icon-omega: "\ea66";
$icon-sigma: "\ea67";
$icon-page-break: "\ea68";
$icon-superscript: "\ea69";
$icon-subscript: "\ea6a";
$icon-superscript2: "\ea6b";
$icon-subscript2: "\ea6c";
$icon-text-color: "\ea6d";
$icon-pagebreak: "\ea6e";
$icon-clear-formatting: "\ea6f";
$icon-table: "\ea70";
$icon-table2: "\ea71";
$icon-insert-template: "\ea72";
$icon-pilcrow: "\ea73";
$icon-ltr: "\ea74";
$icon-rtl: "\ea75";
$icon-section: "\ea76";
$icon-paragraph-left: "\ea77";
$icon-paragraph-center: "\ea78";
$icon-paragraph-right: "\ea79";
$icon-paragraph-justify: "\ea7a";
$icon-indent-increase: "\ea7b";
$icon-indent-decrease: "\ea7c";
$icon-share: "\ea7d";
$icon-new-tab: "\ea7e";
$icon-embed: "\ea7f";
$icon-embed2: "\ea80";
$icon-terminal: "\ea81";
$icon-share2: "\ea82";
$icon-mail: "\ea83";
$icon-mail2: "\ea84";
$icon-mail3: "\ea85";
$icon-mail4: "\ea86";
$icon-amazon: "\ea87";
$icon-google: "\ea88";
$icon-google2: "\ea89";
$icon-google3: "\ea8a";
$icon-google-plus: "\ea8b";
$icon-google-plus2: "\ea8c";
$icon-google-plus3: "\ea8d";
$icon-hangouts: "\ea8e";
$icon-google-drive: "\ea8f";
$icon-facebook: "\ea90";
$icon-facebook2: "\ea91";
$icon-instagram: "\ea92";
$icon-whatsapp: "\ea93";
$icon-spotify: "\ea94";
$icon-telegram: "\ea95";
$icon-twitter: "\ea96";
$icon-vine: "\ea97";
$icon-vk: "\ea98";
$icon-renren: "\ea99";
$icon-sina-weibo: "\ea9a";
$icon-rss: "\ea9b";
$icon-rss2: "\ea9c";
$icon-youtube: "\ea9d";
$icon-youtube2: "\ea9e";
$icon-twitch: "\ea9f";
$icon-vimeo: "\eaa0";
$icon-vimeo2: "\eaa1";
$icon-lanyrd: "\eaa2";
$icon-flickr: "\eaa3";
$icon-flickr2: "\eaa4";
$icon-flickr3: "\eaa5";
$icon-flickr4: "\eaa6";
$icon-dribbble: "\eaa7";
$icon-behance: "\eaa8";
$icon-behance2: "\eaa9";
$icon-deviantart: "\eaaa";
$icon-500px: "\eaab";
$icon-steam: "\eaac";
$icon-steam2: "\eaad";
$icon-dropbox: "\eaae";
$icon-onedrive: "\eaaf";
$icon-github: "\eab0";
$icon-npm: "\eab1";
$icon-basecamp: "\eab2";
$icon-trello: "\eab3";
$icon-wordpress: "\eab4";
$icon-joomla: "\eab5";
$icon-ello: "\eab6";
$icon-blogger: "\eab7";
$icon-blogger2: "\eab8";
$icon-tumblr: "\eab9";
$icon-tumblr2: "\eaba";
$icon-yahoo: "\eabb";
$icon-yahoo2: "\eabc";
$icon-tux: "\eabd";
$icon-appleinc: "\eabe";
$icon-finder: "\eabf";
$icon-android: "\eac0";
$icon-windows: "\eac1";
$icon-windows8: "\eac2";
$icon-soundcloud: "\eac3";
$icon-soundcloud2: "\eac4";
$icon-skype: "\eac5";
$icon-reddit: "\eac6";
$icon-hackernews: "\eac7";
$icon-wikipedia: "\eac8";
$icon-linkedin: "\eac9";
$icon-linkedin2: "\eaca";
$icon-lastfm: "\eacb";
$icon-lastfm2: "\eacc";
$icon-delicious: "\eacd";
$icon-stumbleupon: "\eace";
$icon-stumbleupon2: "\eacf";
$icon-stackoverflow: "\ead0";
$icon-pinterest: "\ead1";
$icon-pinterest2: "\ead2";
$icon-xing: "\ead3";
$icon-xing2: "\ead4";
$icon-flattr: "\ead5";
$icon-foursquare: "\ead6";
$icon-yelp: "\ead7";
$icon-paypal: "\ead8";
$icon-chrome: "\ead9";
$icon-firefox: "\eada";
$icon-IE: "\eadb";
$icon-edge: "\eadc";
$icon-safari: "\eadd";
$icon-opera: "\eade";
$icon-file-pdf: "\eadf";
$icon-file-openoffice: "\eae0";
$icon-file-word: "\eae1";
$icon-file-excel: "\eae2";
$icon-libreoffice: "\eae3";
$icon-html-five: "\eae4";
$icon-html-five2: "\eae5";
$icon-css3: "\eae6";
$icon-git: "\eae7";
$icon-codepen: "\eae8";
$icon-svg: "\eae9";
$icon-IcoMoon: "\eaea";

